<!DOCTYPE html>
<html>
<head>
  <title>Bet</title>
  <%= stylesheet_link_tag    "bet/application", media: "all" %>
  <%= javascript_include_tag "bet/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
